body {
  font-family: sans-serif;
  background-color: #010e1a;
  color: #dfdfdf;
}

main {
  background: #ffffff10;
  max-width: 500px;
  margin: 10% auto 0 auto;
  border-radius: 8px;
  box-shadow: inset 1px 2px 6px 3px rgba(0,0,0,0.25);
  padding: 12px;
  text-align: center;
}

h1 {
  font-weight: normal;
}

input[type=number] {
  padding: 2px 12px;
}

input[type=number] {

}